*{
    padding :0;
    margin :0;
  }
  
  body{
    text-align :center;
    background-color :rgba(0,0,0,0.8);
  }
  
  #icon{
    font-size :90px;
    color :#F00;
  }
  
  h1{
    font-size :90px;
    font-family :arial;
    padding-bottom :140px;
    text-shadow :2px 2px 2px red;
  }

  #clock{
    font-size :100px;
    font-family:monospace;
    border : none;
    border-radius :20px;
    padding :30px;
    background-color :#fff;
    margin :auto;
    width :800px;
    color :#FF0000;
    box-shadow :3px 3px 3px red;
    height :120px;
    align-items :center;
    justify-content :center;
  }